/transmitter
*.md
!README.md
!DEV.md
!README.de.md
!README.es.md
!README.ru.md
!/docs/**/*.md
/static/dist
/.env
/dev/blocklists
/dev/resume
/dev/torrents
!/dev/settings.json
*.crt
*.pem
*.key
/dev/bandwidth-groups.json
/dev/queue.json
/dev/stats.json
/dev/dht.dat
